
<div id="<%= dom_id chat %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Chat ID:</strong>
    <%= chat.id %>

  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= chat.user_id %>

  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">History:</strong>
    <%= chat.history %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Q and a:</strong>
    <%= chat.q_and_a %>
  </p>

</div>

