<div class="rounded bg-gray-50 dark:bg-gray-800 mb-4">
  <div>

    <% @profile.each do |profile| %>
      <% if can? :read, profile %>
        <div class="p-4">
          <h5 class="text-xl text-gray-500 text-gray-500 p-4">
            About Me
          </h5>
          <div class="text-sm font-extralight text-gray-500 p-4">
            <%= raw profile.content %>
          </div>
          <div class="text-gray-800 p-4">
            <div class="flex justify-start">
              <div class="gap-1 w-[50%]">
                <h6 class="font-semibold mb-2 dark:text-gray-500">Date of Birth</h6>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.date_of_birth %>
                </p>
                <h6 class="font-semibold mb-2 dark:text-gray-500">Age</h6>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.age %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Language Spoken</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.language %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Home Town</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.home_town %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">City</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.city %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Country</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.country %>
                </p>

              </div>

              <div>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Health Insurance</h5>
                <p class="text-sm font-extralight mb-2">
                  <%=profile.health_insurance %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">NHIF Number</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.nhif_number %>
                </p>
                <h5 class="font-semibold mb-2 text-gray-500">Nationality</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.nationality %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Religion</h5>
                <p class="text-sm font-extralight mb-2 text-gray-800">
                  <%= profile.religion %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Blood Group</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.blood_group %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Hospital to Attend</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= profile.hospital_to_attend %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>