<div class="rounded bg-gray-50 dark:bg-gray-800 mb-4 md:w-full">
  <div>
    <div class="flex justify-between">
      <div class="pl-8 pt-4">
        <h5 class="text-2xl text-[#000] dark:text-white">General Information</h5>
      </div>
      <!--BUTTON TO ADD NEW INFORMATION-->
      <div class="p-4">
        <% @bio.each do |bio| %>
          <% if can? :manage, bio %>
            <%= link_to edit_bio_path(bio.id) do %>
              <p class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-2 px-4 rounded p-4 w-3/4">
                <!--SVG ICON ADD more information-->

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 inline-block">
                  <path d="M5.25 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM2.25 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM18.75 7.5a.75.75 0 0 0-1.5 0v2.25H15a.75.75 0 0 0 0 1.5h2.25v2.25a.75.75 0 0 0 1.5 0v-2.25H21a.75.75 0 0 0 0-1.5h-2.25V7.5Z" />
                </svg>

                Add Information
              </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% @bio.each do |bio| %>
      <% if can? :read, bio %>
        <div class="p-4">
          <h5 class="text-xl text-[#000] dark:text-white p-4">
            About Me
          </h5>
          <div class="text-sm font-extralight dark:text-white  p-4">
            <%= raw bio.about_me %>
          </div>
          <div class="text-[#060606] dark:text-white p-4">
            <div class="flex justify-start">
              <div class="gap-1 w-[50%]">
                <h6 class="font-semibold mb-2 dark:text-gray-500">Date of Birth</h6>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.date_of_birth %>
                </p>
                <h6 class="font-semibold mb-2 dark:text-gray-500">Age</h6>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.age %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Language Spoken</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.language %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Home Town</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.home_town %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">City</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.city %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Country</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.country %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Health Insurance</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.health_insurance %>
                </p>
              </div>

              <div>
                <h5 class="font-semibold mb-2 dark:text-gray-500">NHIF Number</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.nhif_number %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Nationality</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.nationality %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Religion</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.religion %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Blood Group</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.blood_group %>
                </p>
                <h5 class="font-semibold mb-2 dark:text-gray-500">Hospital to Attend</h5>
                <p class="text-sm font-extralight mb-2">
                  <%= bio.hospital_to_attend %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>