<div class="flex flex-col rounded h-96 bg-gray-50 dark:bg-gray-800 p-4 mb-4">
  <% @profile.each do |profile| %>
    <% if can? :read, profile %>
      <!--This is the profile picture and Add Button-->
      <div class="flex w-full justify-between grid-cols-2">
        <div>
          <% if profile.avatar.attached? %>
            <%= image_tag(profile.avatar, class: "h-24 w-40 rounded") %>
          <% else %>
            <%= image_tag('logo.png', class: "h-24 w-24 rounded") %>
          <% end %>
        </div>
        <div>
          <% if can? :read, profile %>
            <%= link_to edit_profile_path(profile.id) do %>
              <button class="bg-blue-500 text-xs hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-4 ">
                <!--SVG ICON ADD more information-->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline-block">
                  <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
                </svg>
                Add Details
              </button>
            <% end %>
          <% end %>
        </div>
        <%= icon('fa-solid', 'truck-fast', class: 'mr-2') %>
      </div>
      <div class="text-xl font-semibold mt-2 dark:text-white">
        <%= profile.first_name %> <%= profile.last_name %>
      </div>
      <div>
        <h5 class="text-sm font-semibold mt-2 dark:text-gray-500">Email</h5>
        <p class="text-sm font-bold mt-1 dark:text-white">
          <% if current_user %>
            <%= current_user.email %>
          <% end %>
        </p>
      </div>
      <div>
        <h5 class="text-sm font-semibold mt-2 dark:text-gray-500">Home Address</h5>
        <p class="text-sm font-bold mt-1 dark:text-white">
          <%= profile.home_address %>
        </p>
      </div>
      <div>
        <h5 class="text-sm font-semibold mt-2 dark:text-gray-500">Phone Number</h5>
        <p class="text-sm font-bold mt-1 dark:text-white">
          <%= profile.phone_number %>
        </p>
      </div>
      <div>
        <h5 class="text-sm font-semibold mt-2 dark:text-gray-500">Occupation</h5>
        <p class="text-sm font-bold mt-1 dark:text-white">
          <%= profile.occupation %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>