<div id="cart" class="flex flex-col gap-5 pt-10 bg-white p-5">
  <h5 class="font-bold text-xl">Cart (<%= @cart_items.size %>)</h5>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Image</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each_with_index do |item, index| %>
          <% product = item.product %>
          <tr class="<%= index < @cart_items.size - 1 ? 'border-b border-gray-200' : '' %>">
            <td class="px-6 py-4">
              <% if product.image.attached? %>
                <%= image_tag product.image, class: 'w-20 rounded-lg' %>
              <% else %>
                <span class="text-sm text-gray-500">No Image</span>
              <% end %>
            </td>

            <td class="px-6 py-4">
              <%= item.quantity %>
            </td>

            <td class="px-6 py-4">
              <%= number_with_delimiter item.total.to_i %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="border-t uppercase">
        <tr>
          <td colspan="2" class="font-semibold text-right pr-6 py-3">
          Total:
          </td>
          <td class="font-bold">
            <%= number_to_currency(@cart_items.sum(&:total), unit: "Ksh ", precision: 0, delimiter: ",", separator: ".") %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
