<div class="mx-auto md:w-2/3 p-4 sm:ml-64">

  <div id="products" class="grid lg:grid-cols-4 md:grid-cols-2">
    <% @products.each do |product| %>
      <div>
        <%= render product %>
        <% if product_in_cart?(product) %>
          <div class="flex items-center justify-between">
            <%= button_to "-", decrement_path(product), method: :patch, class: "mt-3 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

            <%= cart_item(product).quantity  %>

            <%= button_to "+", increment_path(product), method: :patch, class: "mt-3   rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          </div>

        <% else %>
          <%= button_to "Add to Cart", add_to_cart_path(product), method: :post, class: "mt-3 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
