
<div class="gap-4 grid grid-cols-2 p-4">
        <h6 class="font-semibold dark:text-gray-500">Date of Birth</h6>
        <p class="text-sm font-extralight mb-2">
          <%= @profile.date_of_birth %>
        </p>
        <h6 class="font-semibold dark:text-gray-500">Age</h6>
        <p class="text-sm font-extralight mb-2">
          <%= @profile.age %>
        </p>
        <h5 class="font-semibold dark:text-gray-500">Language Spoken</h5>
        <p class="text-sm font-extralight mb-2">
          <%= @profile.language %>
        </p>
        <h5 class="font-semibold dark:text-gray-500">Home Town</h5>
        <p class="text-sm font-extralight mb-2">
          <%= @profile.home_town %>
        </p>
        <h5 class="font-semibold dark:text-gray-500">City</h5>
        <p class="text-sm font-extralight mb-2">
          <%= @profile.city %>
        </p>
        <h5 class="font-semibold dark:text-gray-500">Country</h5>
        <p class="text-sm font-extralight mb-2">
          <%= @profile.country %>
        </p>

      </div>


