<div class="gap-4 grid grid-cols-2 p-4">
  <h5 class="font-semibold  dark:text-gray-500">Health Insurance</h5>
  <p class="text-sm font-extralight ">
    <%= @profile.health_insurance %>
  </p>
  <h5 class="font-semibold dark:text-gray-500">NHIF Number</h5>
  <p class="text-sm font-extralight ">
    <%= @profile.nhif_number %>
  </p>
  <h5 class="font-semibold dark:text-gray-500">Nationality</h5>
  <p class="text-sm font-extralight ">
    <%= @profile.nationality %>
  </p>
  <h5 class="font-semibold  dark:text-gray-500">Religion</h5>
  <p class="text-sm font-extralight ">
    <%= @profile.religion %>
  </p>
  <h5 class="font-semibold dark:text-gray-500">Blood Group</h5>
  <p class="text-sm font-extralight ">
    <%= @profile.blood_group %>
  </p>
  <h5 class="font-semibold  dark:text-gray-500">Hospital to Attend</h5>
  <p class="text-sm font-extralight ">
    <%= @profile.hospital_to_attend %>
  </p>
</div>