<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="grid md:grid-cols-3 gap-4 mb-4">
      <div class="flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800">
        <%= image_tag(@profile.avatar, class: 'h-48 rounded') %>
      </div>
      <div class="flex p-4 rounded bg-gray-50 dark:bg-gray-800">
        <%= render partial: 'bio_details' %>
      </div>
      <div class="hidden md:flex items-center justify-center rounded bg-gray-50 dark:bg-gray-800 ">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <%= image_tag(@profile.qr_code, class: 'h-48 rounded') if @profile.qr_code.attached?   %>
        </p>
      </div>
    </div>


    <div class="flex p-2 h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
      <%= render partial: 'about_me' %>
    </div>


    <div class="grid md:grid-cols-2 gap-4 mb-4">
      <div class="flex items-center justify-center rounded bg-gray-50  dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <%= render partial: 'left' %>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50  dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <%= render partial: 'right' %>
        </p>
      </div>
    </div>

  </div>
</div>