<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lifeline Records</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Icon  -->
    <%= favicon_link_tag asset_path('logo.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.1.1/dist/flowbite.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

  </head>

  <body>
    <main class="bg-[#e6e6e6]">
      <% if current_user %>
        <%= render "layouts/sidebar" %><!-- We create a link to log out -->
      <% end %>

      <%= yield %>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>

    </main>
  </body>
</html>
